@import url(reset.css);

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

a {
  text-decoration: none;
}

a:hover,
button:hover {
  opacity: .6;
}

button,
input[type="file"] {
  border: 0;
  cursor: pointer;
}

input[type="file"]:focus {
  box-shadow: none !important;
}

textarea:focus,
input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
