.l-wrapper {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.l-flexbox {
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-flexbox_row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.l-welcome {
  background-color: rgba(255, 255, 255, 0.6);
}

.l-login {
  height: calc(100% - 58px);
  background: #fff;
  border: 1px solid #f0f0f0;
  border-top: 0;
}

.l-header {
  height: 80px;
  border-bottom: 2px solid #00bf28;
}

.l-download {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 145px;
  height: 115px;
}

.l-content {
  height: 49.5vh;
}

.l-footer {
  height: 58px;
}
