@import url(spinner.css);

/* download */
.download {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 145px;
  height: 110px;
}
  .download-app {
    display: block;
  }
  .download-app:first-child {
    margin-bottom: 7px; 
  }
    .download-app img {
      width: 145px;
    }

/* form elements */
.form-header {
  margin: 5.5vh 0 4vh;
  font-size: 3.6vh;
  font-weight: normal;
}

.form-input {
  width: 100%;
  height: 4.5vh;
  margin-bottom: 1vh;
  padding: 0 1.3vh;
  font-size: 2vh;
  line-height: 2.6vh;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-input-search {
  width: 100%;
  height: 100%;
  padding: 5px 5px 5px 10px;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.form-label {
  display: block;
  margin: 1vh 0 5vh;
  font-size: 2vh;
  color: #666;
}
  .form-checkbox {
    margin-left: 1vh;
    vertical-align: bottom;
  }

.form-file {
  position: relative;
  width: 100%;
  height: 6vh;
  margin: 2vh 0 4vh;
  text-align: center;
}
  .form-file:hover .form-file-custom {
    opacity: .6;
  }
  .form-file-custom {
    height: 100%;
    text-align: center;
  }
  .form-file-default {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

.form-button {
  width: 100%;
  margin-bottom: 2vh;
  font-size: 2.8vh;
  line-height: 6.5vh;
  color: #fff;
  border-radius: 5px;
}
  .form-button_welcome {
    margin-bottom: 3vh;
    line-height: 8vh;
  }
  .form-button_signup {
    margin-bottom: 4vh;
  }
  .form-button_reset {
    margin-top: 4.5vh;
  }
  .form-button_fb {
    background: #35518e;
  }
  .form-button_qb {
    background: #00bf28;
  }
    .form-button-icon {
      width: 3.4vh;
      margin-right: 2vh;
      vertical-align: text-bottom;
    }

.form-text {
  display: block;
  margin-bottom: 2.5vh;
  color: #999;
  text-align: center;
}
  .form-text_welcome {
    margin-bottom: 0;
    font-size: 2.2vh;
  }
  .form-text_forgot {
    margin: 1.5vh 0 3.5vh;
    font-size: 1.6vh;
  }
  .form-text_sendemail {
    margin-bottom: 2vh;
    font-size: 1.8vh;
    line-height: 2.2vh;
  }
    .form-text_sendemail_black {
      margin-top: 4vh;
      color: #333;
    }
  .form-text_signup {
    font-size: 1.4vh;
    line-height: 1.8vh;
  }
  .form-text_error {
    margin-bottom: 1.8vh;
    font-size: 1.6vh;
    line-height: 2vh;
    color: #c03d3d;
  }

/* footer-links */
.footer-apps a {
  display: block;
}
.footer-apps-ios {
  margin-right: 25px;
}
.footer-links-item {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
}
.footer-links_welcome .footer-links-item {
  margin-right: 3vh;
  font-size: 1.8vh;
}
.footer-links-item:last-child {
  margin-right: 0;
}
  .footer-links-item a {
    color: #999;
  }

/* Chroma-Hash */
.chroma-hash {
  position: relative;
  width: 100%;
  height: 4.5vh;
  margin-bottom: 1vh;
}
  .chroma-hash label {
    top: auto !important;
    left: auto !important;
    right: 1px;
    width: 1vh !important;
    height: 4.2vh !important;
  }
  .chroma-hash label:nth-child(1) {
    margin: 1px 0 0 0 !important;
    border-radius: 0 3px 3px 0;
  }
  .chroma-hash label:nth-child(2) {
    margin: 1px 1vh 0 0 !important;
  }
  .chroma-hash label:nth-child(3) {
    margin: 1px 2vh 0 0 !important;
  }
  .chroma-hash label:nth-child(4) {
    margin: 1px 3vh 0 0 !important;
  }
  .chroma-hash label:nth-child(5) {
    margin: 1px 4vh 0 0 !important;
  }

/* header */
.header-logo {
  width: 249px;
}
.header-profile {
  position: relative;
  max-width: calc(100% - 249px - 50px);
}
  .header-profile-invite {
    margin-right: 50px;
  }

/* invite */
.invite {
  min-width: 190px;
  line-height: 38px;
  text-align: center;
  background: #ff4945;
  border-radius: 25px;
}
.invite_contacts {
  width: 245px;
  line-height: 45px;
  border-radius: 30px;
}
.invite_cap {
  min-width: inherit;
  max-width: 355px;
  max-height: 78px;
  padding: 0 4vh;
  line-height: 7.5vh;
  border-radius: 6vh;
}
  .invite-icon {
    padding-left: 25px;
    font-size: 20px;
    color: #fff;
    background: url(../images/icon-invite.png) no-repeat left 0;
    background-size: 16px 19px;
  }
  .invite_contacts .invite-icon {
    padding-left: 35px;
    font-size: 24px;
    background-size: 21px 25px;
  }
  .invite_cap .invite-icon {
    padding-left: 5.4vh;
    font-size: 3.8vh;
    background-position: left .5vh;
    background-size: 3.1vh 3.6vh;
  }

/* cap */
.cap-text {
  font-size: 4.8vh;
  color: #666;
}
.cap-anybody {
  width: 28.8vh;
  height: 31vh;
}

/* popover */
.popover {
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 10px 3px rgba(240, 240, 240, .7);
}

/* list */
.list {
  height: calc(100% - 30px);
}
.list-actions {
  width: 160px;
}
.list-actions_contacts {
  margin: -15px auto 0;
}
.list-actions_profile {
  position: absolute;
  top: 55px;
  right: 5px;
}
  .list-item {
    height: 60px;
    border-bottom: 1px solid #f0f0f0;
  }
  .list-actions .list-item {
    height: auto;
    background: #fff;
  }
  .list-actions .list-item:last-child {
    border-bottom: 0;
  }
  .list-item:hover {
    background: #f8f8f8;
  }
    .list-actions-action {
      display: block;
      padding: 0 10px;
      font-size: 16px;
      line-height: 40px;
      color: #333;
    }
    .list-actions-action:hover {
      opacity: 1;
    }

/* contact */
.no-contacts {
  padding-top: 36px;
  color: #999;
  text-align: center;
}
  .no-contacts-oops {
    margin-bottom: 20px;
    font-size: 32px;
  }
  .no-contacts-description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
  }
.contact {
  display: block;
  height: 100%;
  padding: 10px 20px;
}
.contact:hover {
  opacity: 1;
}
  .contact-avatar {
    margin-right: 15px;
  }
  .contact-avatar_signup {
    margin-right: 1.5vh;
  }

/* avatar */
.avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar_signup {
  width: 6vh;
  min-width: 6vh;
  height: 6vh;
}

/* name */
.name {
  font-size: 16px;
  line-height: 20px;
  color: #333;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.name_profile {
  color: #666;
}
.name_signup {
  font-size: 2vh;
  color: #999;
}

/* scrollbar */
.mCS-autoHide > .mCustomScrollBox ~ .mCSB_scrollTools {
  opacity: 1;
}
.mCSB_container {
  overflow: visible;
}

/* popups */
.popups {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .47);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
}
  .popup {
    position: fixed;
    top: 25%;
    left: 50%;
    background: #fff;
    border: 1px solid #f0f0f0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, top .5s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .popup_logout,
  .popup_import,
  .popup_delete {
    width: 400px;
    height: 195px;
  }
    .popup-alert {
      height: calc(100% - 45px);
      text-align: center;
    }
    .popup-controls {
      padding-bottom: 25px;
      text-align: center;
    }
      .popup-control-button {
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
      }
      .popup-control-button_cancel {
        margin-right: 35px;
        color: #999;
      }
      .popup-control-button_ok {
        margin-right: 15px;
        color: #0d70b3;
      }
      .popup_import .popup-control-button_ok {
        margin-right: 0;
      }

/* alerts */
.alert {
  color: #333;
}
.alert_logout {
  font-size: 20px;
  line-height: 26px;
}
.alert_import {
  font-size: 18px;
  line-height: 24px;
}
.alert_delete {
  font-size: 26px;
  line-height: 32px;
}
