@import url(spinner.css);

/* download */
.download {
  position: absolute;
  top: 30px;
  right: 25px;
  width: 145px;
  height: 110px;
}
  .download-app {
    display: block;
  }
  .download-app:first-child {
    margin-bottom: 7px; 
  }
    .download-app img {
      width: 145px;
    }

/* form elements */
.form-header {
  margin: 5.5vh 0 4vh;
  font-size: 3.6vh;
  font-weight: normal;
}

.form-input {
  width: 100%;
  height: 4.5vh;
  margin-bottom: 1vh;
  padding: 1.3vh;
  font-size: 2vh;
  line-height: 2vh;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-label {
  display: block;
  margin: 1vh 0 5vh;
  font-size: 2vh;
  color: #666;
}
  .form-checkbox {
    margin-left: 1vh;
    vertical-align: bottom;
  }

.form-file {
  position: relative;
  width: 100%;
  height: 6vh;
  margin: 2vh 0 4vh;
  text-align: center;
}
  .form-file:hover .form-file-custom {
    opacity: .6;
  }
  .form-file-custom {
    height: 100%;
    text-align: center;
  }
  .form-file-default {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

.form-button {
  width: 100%;
  margin-bottom: 2vh;
  font-size: 2.8vh;
  line-height: 6.5vh;
  color: #fff;
  border-radius: 5px;
}
  .form-button_welcome {
    margin-bottom: 3vh;
    line-height: 8vh;
  }
  .form-button_signup {
    margin-bottom: 4vh;
  }
  .form-button_reset {
    margin-top: 4.5vh;
  }
  .form-button_fb {
    background: #35518e;
  }
  .form-button_qb {
    background: #00bf28;
  }
    .form-button-icon {
      width: 3.4vh;
      margin-right: 2vh;
      vertical-align: text-bottom;
    }

.form-text {
  display: block;
  margin-bottom: 2.5vh;
  color: #999;
  text-align: center;
}
  .form-text_welcome {
    margin-bottom: 0;
    font-size: 2.2vh;
  }
  .form-text_forgot {
    margin: 1.5vh 0 3.5vh;
    font-size: 1.6vh;
  }
  .form-text_sendemail {
    margin-bottom: 2vh;
    font-size: 1.8vh;
    line-height: 2.2vh;
  }
    .form-text_sendemail_black {
      margin-top: 4vh;
      color: #333;
    }
  .form-text_signup {
    font-size: 1.4vh;
    line-height: 1.8vh;
  }
  .form-text_error {
    margin-bottom: 1.5vh;
    font-size: 1.6vh;
    line-height: 2vh;
    color: #c03d3d;
  }

/* footer-links */
.footer-apps a {
  display: block;
}
.footer-apps-ios {
  margin-right: 25px;
}
.footer-links {
  font-size: 14px;
}
.footer-links_welcome {
  font-size: 1.8vh;
}
  .footer-links-item {
    display: inline-block;
    margin-right: 30px;
  }
  .footer-links_welcome .footer-links-item {
    margin-right: 3vh;
  }
  .footer-links-item:last-child {
    margin-right: 0;
  }
    .footer-links-item a {
      color: #999;
    }

/* Chroma-Hash */
.chroma-hash {
  position: relative;
  width: 100%;
  height: 4.5vh;
  margin-bottom: 1vh;
}
  .chroma-hash label {
    top: auto !important;
    left: auto !important;
    right: 1px;
    width: 1vh !important;
    height: 4.2vh !important;
  }
  .chroma-hash label:nth-child(1) {
    margin: 1px 0 0 0 !important;
    border-radius: 0 3px 3px 0;
  }
  .chroma-hash label:nth-child(2) {
    margin: 1px 1vh 0 0 !important;
  }
  .chroma-hash label:nth-child(3) {
    margin: 1px 2vh 0 0 !important;
  }
  .chroma-hash label:nth-child(4) {
    margin: 1px 3vh 0 0 !important;
  }
  .chroma-hash label:nth-child(5) {
    margin: 1px 4vh 0 0 !important;
  }

/* header */
.header-logo {
  width: 249px;
}
.header-profile {
  width: 70%;
}

/* invite */
.invite {
  margin-right: 50px;
  padding: 0 25px;
  line-height: 40px;
  text-align: center;
  background: #ff4945;
  border-radius: 25px;
}
  .invite-icon {
    padding-left: 25px;
    font-size: 20px;
    color: #fff;
    background: url(../images/icon-invite.png) no-repeat left 0;
  }

/* user */
.user {
  display: -webkit-inline-flex; /* For Safari 6.1+ */
  display: -ms-inline-flexbox; /* For IE10 */
  display: inline-flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 64%;
}
.user_signup {
  max-width: 87%;
}
  .user-avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }
  .user_signup .user-avatar {
    width: 6vh;
    min-width: 6vh;
    height: 6vh;
    margin-right: 1vh;
  }
  .user-name {
    font-size: 16px;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .user_signup .user-name {
    font-size: 2vh;
    line-height: 2.4vh;
    color: #999;
  }
