body.is-welcome {
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
}

.is-hidden {
  display: none;
}

.is-error:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
