/* Common cases
--------------------------------------------------*/
.is-hidden {
  display: none;
}

.is-error {
  border-color: #cd575c;
}
.is-error:focus {
  border-color: #cd575c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(205, 87, 92, .6);
}

/* Custom cases
--------------------------------------------------*/
body.is-welcome {
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
}
.l-wrapper.is-welcome {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  background: rgba(255, 255, 255, .6);
}
