.is-hidden {
  display: none;
}

body.is-welcome {
  background: url(../images/bg.jpg) no-repeat;
  background-size: 100% 100%;
}
  body.is-welcome .l-wrapper {
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    background: rgba(255, 255, 255, .6);
  }

span.is-error {
  opacity: 1;
}
input.is-error {
  border-color: #cd575c;
}
input.is-error:focus {
  border-color: #cd575c;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(205, 87, 92, .6);
}

.list-item.is-contextmenu {
  background: #f8f8f8;
}
.list-item.is-active {
  background: #1cba48;
  border-bottom: 1px solid #1cba48;
}
.list-item.is-active:hover {
  background: #1cba48;
}
  .list-item.is-active .name {
    color: #fff;
  }

.occupant.is-active {
  background: #1cba48;
  border: 1px solid #1cba48;
}
.occupant.is-active:hover {
  opacity: 1;
}
  .occupant.is-active .name {
    color: #fff;
  }

.is-overlay {
  visibility: visible;
  opacity: 1;
}
.popup.is-overlay {
  top: 50%;
}

.spinner_bounce.is-empty {
  margin: 10% auto;
}

.message.is-own {
  background: #f8f8f8;
}
