.is-hidden,
.is-hover {
    display: none;
}
.is-notVisible {
    opacity: 0;
    visibility: hidden;
}
body.is-welcome .l-wrapper {
    border-left: 1px solid #f2f4f5;
    border-right: 1px solid #f2f4f5;
    background: rgba(255, 255, 255, .6);
}
body.is-welcome .l-app-version {
    right: 25px;
}
span.is-error {
    opacity: 1;
}
input.is-error {
    border-color: #cd575c;
}
input.is-error:focus {
    border-color: #cd575c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(205, 87, 92, .6);
}
.list-item.is-chosen,
.list-item.is-contextmenu {
    background: #f2f4f5;
    position: relative;
}
.list-item.is-selected {
    background: #1cba48;
}
.list-item.is-selected:hover {
    background: #1cba48;
}
.list-actions_occupants .list-item:hover {
    background: #f8f8f8;
}
.popup_search .list-item:hover {
    background: #fff;
}
.popup_search .list-item a {
    cursor: default;
}
.list-item.is-selected .name {
    color: #fff;
}
.occupant.is-active {
    background: #1cba48;
    border: 1px solid #1cba48;
}
.occupant.is-active:hover {
    opacity: 1;
}
.occupant.is-active .name {
    color: #fff;
}
.btn_message_smile.is-active,
.smiles-tab.is-actived {
    opacity: 1 !important;
}
.is-disconnect,
.is-overlay {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}
.popup.is-overlay {
    top: 50%;
}
.spinner_bounce.is-empty {
    margin: 10% auto;
}
.spinner_bounce.is-creating {
    margin: 22px auto;
}
.l-chat .spinner_bounce.is-empty {
    margin: 0 auto;
    position: absolute;
    top: 20px;
    left: 46%;
}
.l-chat .spinner_bounce.is-ajaxDownload {
    position: static;
}
.message.is-own {
    background: #fafafa;
}
.is-request .btn_chat_add,
.is-request .btn_chat_audiocall,
.is-request .btn_chat_videocall,
.is-request .l-chat-footer {
    display: none;
}
.is-group .btn_chat_audiocall,
.is-group .btn_chat_profile,
.is-group .btn_chat_videocall {
    display: none;
}
.is-contenteditable::before {
    content: "";
    line-height: normal;
}

/* Perfect_scrollbar's custom styles */
.ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x, .ps-container > .ps-scrollbar-x-rail:active > .ps-scrollbar-x,
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x,
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    border: 1px solid #fff;
    height: 8px;
}
.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y, .ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y,
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y,
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    border: 1px solid #fff;
    width: 8px;
}
.ps-container > .ps-scrollbar-x-rail {
    height: 10px;
}
.ps-container > .ps-scrollbar-y-rail {
    width: 10px;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    border: 1px solid #fff;
    height: 6px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    border: 1px solid #fff;
    width: 6px;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail,
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail,
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail,
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail,
.ps-container:hover > .ps-scrollbar-x-rail:hover,
.ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: transparent;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
    bottom: 0;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    right: 0;
}
