/* buttons */
.btn,
.btn:focus,
.btn:hover {
    color: #fff;
    text-align: center;
    box-shadow: none;
    line-height: 100%;
}
button:focus,
button:hover {
    background-color: initial;
}
.btn_form {
    width: 100%;
    font-size: 2.3vh;
    line-height: 6vh;
    border-radius: 0.3vh;
    font-weight: 300;
    text-transform: uppercase;
}
.l-welcome_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 304px;
    height: 40px;
    margin: 0 auto;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.l-welcome_btn_green {
    margin-top: 76px;
    background-color: #28c849;
    color: #ffffff;
}
.l-welcome_btn_white {
    margin-top: 16px;
    background-color: #ffffff;
    color: #6e6e6e;
}
.l-welcome_btn_white:focus,
.l-welcome_btn_white:hover {
    background-color: #eeeeee;
    color: #6e6e6e;
    opacity: 1;
}
.l-btn_login {
    margin: 20px 0 9px;
    background-color: #28c849;
    color: #ffffff;
}
.l-btn_login:focus,
.l-btn_login:hover,
.l-welcome_btn_green:focus,
.l-welcome_btn_green:hover {
    background-color: #26a640;
    opacity: 1;
}
.l-btn_login_fb {
    margin: 9px 0 35px;
    background-color: #4e70a8;
    color: #ffffff;
}
.l-btn_login_fb:focus,
.l-btn_login_fb:hover {
    background-color: #445f8c;
    opacity: 1;
}
.l-btn_reset {
    margin-top: 24px;
    background-color: #28c849;
    color: #ffffff;
}
.l-btn_reset:focus,
.l-btn_reset:hover {
    background-color: #26a640;
    opacity: 1;
}
.i-btn_icon_fb {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url('../images/fb-logo.svg') no-repeat center;
    margin-right: 7px;
    vertical-align: middle;
}
.i-mini_logo {
    width: 22px;
    height: 22px;
    background: url('../images/qmweb-launch-qblogo.svg') no-repeat center;
}
.by_QB {
    margin-left: 6px;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: normal;
    color: #959595;
}
.l-welcome_download {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 110px;
}
.l-welcome_download_app {
    margin-left: 16px;
}
.i-appstore {
    width: 24px;
    height: 24px;
    background: url('../images/ic-appstore.svg') no-repeat center;
}
.i-android {
    width: 24px;
    height: 24px;
    background: url('../images/ic-android.svg') no-repeat center;
}
.i-back_login {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('../images/ic-arrow-back.svg') no-repeat center;
    margin-right: 7px;
}
button.btn.btn_add,
button.btn.btn_add:focus,
button.btn.btn_add:hover {
    width: 300px;
    font-size: 19px;
    border-radius: 50px;
    height: 48px;
    min-height: 45px;
}
button.btn_invite,
button.btn_invite:focus,
button.btn_invite:hover {
    margin-bottom: 2vh;
    background: #ff4945;
}
button.btn.btn_invite_contacts {
    width: 300px;
    font-size: 20px;
    border-radius: 56px;
    height: 56px;
    line-height: 56px;
    transition: initial;
    vertical-align: middle;
    text-transform: none;
}
.btn_share {
    background: #3b5998;
}
button.btn.btn_search,
button.btn.btn_search:focus,
button.btn.btn_search:hover {
    display: block;
    width: 285px;
    margin: 20px auto 0;
    font-size: 16px;
    line-height: 40px;
    background: #0d70b3;
    border-radius: 7px;
}
.btn_popup {
    width: 100%;
    font-size: 24px;
    height: 60px;
    line-height: 100%;
    background: #0d70b3;
    text-transform: none;
    border-radius: 0;
}
.btn_popup:active,
.btn_popup:hover {
    background-color: #0d70b3;
}
.btn.btn_popup.btn_popup_changepass.without_M,
.btn.btn_popup.btn_popup_changepass.without_M:focus,
.btn.btn_popup.btn_popup_changepass.without_M:hover {
    display: block;
    width: 100%;
    height: 100%;
    background: #0d70b3;
    margin: 0 auto;
}
.btn_chat {
    margin-right: 8px;
    max-width: 25px;
    max-height: 25px;
    display: inline-block;
    vertical-align: bottom;
}
.btn_chat:last-child {
    margin-right: 0;
}
.btn_chat_videocall {
    position: relative;
    top: -2px;
}
.btn_sendlocation[data-balloon-length="small"]:after {
    width: 110px;
}
.btn_message {
    position: absolute;
    top: 10px;
    right: 15px;
    display: block;
    width: 34px;
    height: 34px;
}
.btn_sendlocation {
    position: relative;
    width: 24px;
    background-size: contain;
    background: url('../images/ic-hidden-location.svg') 50% no-repeat;
}
.btn_sendlocation.btn_active {
    background: url('../images/ic-active-location.svg') 50% no-repeat;
}
.btn_input_smile {
    position: relative;
    width: 20px;
    background-size: contain;
    background: url('../images/ic_smile.svg') 50% no-repeat;
}
.btn_input_smile.is-active {
    background: url('../images/ic_smile_active.svg') 50% no-repeat;
}
.btn_input_location {
    position: relative;
    width: 20px;
    background-size: contain;
    background: url('../images/ic_send_location.svg') 50% no-repeat;
}
.btn_input_location.is-active {
    background: url('../images/ic_send_location_active.svg') 50% no-repeat;
}
.btn_input_attach {
    position: relative;
    width: 20px;
    background-size: contain;
    background: url('../images/ic_attach.svg') 50% no-repeat;
}
.btn_input_send {
    text-align: center;
    position: absolute;
    top: 14px;
    right: 15px;
    display: block;
    width: 26px;
    height: 26px;
    background: url(../images/ic-send.svg) 50% no-repeat;
    background-size: contain;
}
.btn_to_bottom {
    position: absolute;
    top: -60px;
    right: 0px;
    width: 40px;
    height: 40px;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    opacity: 0.3;
    background-image: url('../images/scrolltobottom.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    display: none;
    cursor: pointer;
}
.btn_to_bottom:hover {
    opacity: 0.4;
}
.btn_request_again {
    display: none;
    margin-left: 20px;
    margin-top: 6px;
    height: 29px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    color: #4a4a4a;
    line-height: 19px;
    background: #f2f4f5;
    border: 1px solid #f2f4f5;
    border-radius: 5px;
    text-transform: none;
}
.btn_request_again:focus,
.btn_request_again:hover {
    background: #f2f4f5;
    color: #333;
}
.btn_request_again_delete {
    margin-left: 0;
}
/* button icons */
.btn-icon {
    margin-right: 2vh;
    vertical-align: text-bottom;
}
.btn-icon.i-btn-icon_fb {
    width: 3.4vh;
    height: 3.4vh;
    display: inline-block;
    margin: 0 2vh 0.6vh 0;
    vertical-align: middle;
    background: url('../images/icon-fb.svg') 50% no-repeat;
}
.btn-icon_fb_header {
    width: 19px;
    margin-right: 10px;
    vertical-align: text-top;
}
.btn-icon_invite {
    display: inline-block;
    width: 27px;
    height: 100%;
    margin-right: 10px;
    background: url(../images/icon-invite.svg?1464359307) no-repeat center;
    vertical-align: middle;
}
.btn-icon_invite_contacts {
    width: 25px;
}
.btn-icon_share {
    width: 2.4vh;
    opacity: 0.5;
}
.btn-icon_request {
    width: 19px;
    margin-right: 8px;
    vertical-align: text-top;
}
.btn-flat.without_M,
.btn-flat.without_M:focus,
.btn-flat.without_M:hover,
.btn-large.without_M,
.btn-large.without_M:focus,
.btn-large.without_M:hover,
.btn.without_M,
.btn.without_M:focus,
.btn.without_M:hover {
    border: none;
    border-radius: initial;
    height: auto;
    line-height: initial;
    outline: 0;
    padding: initial;
    text-transform: none;
    vertical-align: initial;
    -webkit-tap-highlight-color: initial;
}
.users-nav-btns {
    margin-left: 10px;
    display: flex;
    height: 32px;
    min-width: 80px;
    justify-content: space-around;
    align-items: center;
}
.users-nav-btn {
    cursor: pointer;
    width: 24px;
    height: 24px;
}
.users-nav-contacts {
    background: url(../images/ic_group.svg) 50% no-repeat;
    background-size: contain;
}
.users-nav-profile {
    background: url(../images/ic_menu.svg) 50% no-repeat;
    background-size: contain;
}
.users-nav-share {
    background: url(../images/icon-fb_header.svg) 50% no-repeat;
    background-size: 18px 18px;
}