/* chat */
.groupTitle {
  cursor: pointer;
}

.chat-title {
  max-width: 430px;
  height: 40px;
}
.l-chat_group .chat-title {
  max-width: 540px;
  line-height: 55px;
  position: relative;
  z-index: 1;
}
.l-chat_group .chat-controls {
  position: absolute;
  top: 17px;
  right: 20px;
}

/* occupants */
.chat-occupants-wrap {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 17px 20px 17px;
  background: #f8f8f8;
  border-bottom: 1px solid #f2f2f2;
  visibility: hidden;
  opacity: 0;
  transition: all .1s;
}
  .chat-occupants {
    position: static !important;
    width: 100%;
    height: 66px;
  }

/* pencil */
.pencil {
  width: 18px;
  height: 17px;
  margin-left: 8px;
  background: image-url('icon-pencil.svg') no-repeat center;
}
.pencil_active {
  position: absolute;
  top: 0;
  left: 0;
  background: image-url('icon-pencil_active.svg') no-repeat center, rgba(0, 0, 0, 0.2);
}

/* triangle */
.triangle {
  position: relative;
  margin-left: 8px;
  border: 5px solid transparent;
}
  .triangle_up {
    bottom: 2px;
    border-bottom: 7px solid #bebebe;
  }
  .triangle_down {    
    top: 4px;
    border-top: 7px solid #bebebe;
  }  
