/* chat */
.groupTitle > * {
    cursor: pointer;
}
.chat-title {
    max-width: 430px;
    height: 40px;
}
.l-chat_group .chat-title {
    max-width: 540px;
    line-height: 40px;
    position: relative;
    z-index: 1;
}
/* occupants */
.chat-occupants-wrap {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 93px;
    padding: 13px 16px 13px 10px;
    background: #f8f8f8;
    border-bottom: 1px solid #f2f4f5;
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s;
}
.chat-occupants-wrap.is-overlay {
    z-index: initial;
}
.chat-occupants {
    position: static !important;
    width: 100%;
    height: 66px;
}
/* pencil */
.pencil {
    width: 18px;
    height: 17px;
    margin-left: 8px;
    background: url('../images/icon-pencil.svg') no-repeat center;
}
/* triangle */
.triangle {
    position: relative;
    margin-left: 8px;
    border: 5px solid transparent;
}
.triangle_up {
    bottom: 2px;
    border-bottom: 7px solid #959595;
}
.triangle_down {
    top: 4px;
    border-top: 7px solid #959595;
}

.default_group_avatar {
    background: url('../images/ava-group.svg') no-repeat center;
    background-size: contain;
}
.default_single_avatar {
    background: url('../images/ava-single.svg') no-repeat center;
    background-size: contain;
}
