/* message */
.message {
  padding: 10px 20px 10px 10px;
  border-bottom: 1px solid #f2f2f2;
}
.message_service {
  padding: 10px 20px 10px 10px;
}
.message_service:last-of-type .btn_request_again {
  display: inline-block;
}
article.message[data-status="typing"] {
  height: 100%;
  line-height: 100%;
  padding: 9px;
  border-bottom: none;
}
article.message[data-status="typing"] > div {
  display: inline-block;
  margin-left: 7px;
  color: #B2B2B2;
}
.message_typing {
  max-width: 450px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
  .message-container-wrap {
    width: 100%;
  }
    .message-container {
      width: 100%;
      margin-top: 10px;
      font-size: 16px;
      line-height: 20px;
    }
    .message-container:first-child {
      margin-top: 0;
    }
      .message-content {
        padding-left: 20px;
        width: 450px;
        max-width: 450px;
        color: #333;
        word-wrap: break-word;
      }
      .message_attach .message-content {
        width: 450px;
        max-width: 450px;
      }
        .message-author {
          margin-bottom: 10px;
        }
        .message_service .message-author {
          margin-bottom: 0;
          line-height: 30px;
        }
        .message_attach_row .message-author {
          line-height: 37px;
        }
        .message-error {
          color: #c03d3d;
        }
          .message-body {
            position: relative;
            white-space: pre-wrap;
          }
          .message-body p {
            margin-bottom: 10px;
          }
          .message-body p:last-of-type {
            margin-bottom: 0;
          }
          .message-body a {
            color: #0d70b3;
          }
          .message-content.indent {
            padding-left: 60px;
          }
    .message-info {
      width: 140px;
      height: 24px;
      text-align: right;
    }
      .message-time {
        display: inline-block;
        vertical-align: top;
        width: 115px;
        font-size: 13px;
        line-height: 24px;
        text-align: right;
        color: #999;
      }
        .message-time a {
          font-size: 14px;
          color: #0d70b3;
        }
        .message_attach_row .message-time {
          line-height: 28px;
        }
      .message-status {
        display: inline-block;
        vertical-align: top;
        width: 115px;
        font-size: 13px;
        line-height: 24px;
        text-align: right;
        color: #999;
      }
      .message-geo,
      .info_indent {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 24px;
        height: 28px;
        text-align: right;
      }
        .message-geo.with-geo {
          background: image-url('ic_location_sm.svg') 50% 25% no-repeat;
          cursor: pointer;
        }
      .message-avatar.request-button_pending {
        margin: 5px 5px 0 15px;
      }
      .message-avatar.request-button_cancel {
        margin: 6px 5px 0 15px;
      }
      .message-avatar.request-button_ok {
        margin: 3px 5px 0 15px;
      }

/* preview */
.preview {
  float: left;
  cursor: pointer;
}
.preview:hover {
  opacity: 0.6;
}
  .preview-video {
    position: relative;
    width: 180px;
    height: 125px;
    background: #333;
  }
  .preview-video:before {
    content: "\e001";
    position: absolute;
    margin: auto;
    margin-left: 48%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ccc;
  }
    .preview-photo img {
      max-width: 200px;
      max-height: 165px;
    }

.attachment {
  position: absolute;
  top: 7px;
  right: 15px;
  width: 14px;
  height: 38px;
  opacity: 0;
  visibility: hidden;
}
