/* popups */
.popups {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .47);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
}
.profileWrap,
.passWrap,
.importWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
  .popup {
    position: fixed;
    top: 25%;
    left: 50%;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, top .5s;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .popup_details {
    width: 460px;
    height: 280px;
    border: 1px solid #f2f2f2;
  }
  .popup_password {
    width: 460px;
  }
  .popup_attach {
    padding: 20px 20px 25px;
  }
  .popover_map {
    z-index: 2;
    display: none;
    position: absolute;
    bottom: 36px;
    right: -17px;
    padding: 5px;
    width: 212px;
    height: 162px;
    background: #fff;
    border: 1px solid #f2f2f2;
    box-shadow: 0 0 10px 3px rgba(240, 240, 240, 0.7);
  }
    .popover_map .coner {
      position: absolute;
      bottom: -14px;
      right: 15px;
      margin-left: -13px;
      overflow: hidden;
      width: 26px;
      height: 14px;
    }
      .popover_map i.icon_coner {
        background: #fff;
        width: 18px;
        height: 18px;
        display: inline-block;
        border: 1px solid #f2f2f2;
        border-width: 0 1px 1px 0;
        border-radius: 2px;
        position: relative;
        top: -9px;
        left: -4px;
        transform: rotate(45deg);
        box-shadow: 0 0 10px 3px rgba(240, 240, 240, 0.7);
      }
  .open_map {
    width: 450px;
    height: 300px;
  }
  .send_map, .send_map:hover {
    opacity: 1;
    margin: 10px auto 0;
    display: block;
    width: 140px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #bebebe;
    text-align: center;
    vertical-align: middle;
  }
    .send_map.is-active {
      color: #007de3;
    }
  .popup_logout,
  .popup_import,
  .popup_delete,
  .popup_leave {
    width: 400px;
    height: 195px;
    border: 1px solid #f2f2f2;
  }
  .popup_discon {
    width: 400px;
    height: 80px;
    border: 1px solid #f2f2f2;
  }
  .popup_connect {
    width: 100px;
    height: 100px;
  }
  .popup_geo_info {
    width: 400px;
    height: 98px;
    padding: 10px;
    text-align: center;
    border: 1px solid #f2f2f2;
  }
    #chatConnecting.popup {
      transition: none;
      background: none;
    }
  .popup_discon .popup-alert {
    height: 100%;
  }
  .popup_search,
  .popup_contacts,
  .popup_profile,
  .temp-box {
    width: 460px;
    height: 586px;
  }
    .popup-header {
      margin-top: -1px;
      padding: 0 20px;
      background: #f2f2f2;
      border-bottom: 1px solid #f2f2f2;
    }
      .popup-header h3 {
        font-size: 18px;
        line-height: 60px;
        color: #333;
      }
    .popup-form {
      height: 60px;
      padding: 15px 20px;
      border-bottom: 1px solid #f2f2f2;
    }
    .popup-content {
      height: calc(100% - 60px - 60px - 60px);
    }
    .not-selected .popup-content {
      height: calc(100% - 60px - 60px);
    }
    .not-selected .popup-footer {
      display: none;
    }
    .popup-footer_changepass {
      height: 60px;
    }
    .popup-alert {
      height: calc(100% - 45px);
      text-align: center;
    }
    .popup-controls {
      padding-bottom: 25px;
      text-align: center;
    }
      .popup-control-button {
        font-size: 20px;
        line-height: 20px;
        text-transform: uppercase;
      }
      .popup-control-button_cancel {
        margin-right: 35px;
        color: #999;
      }
      .popup-control-button_ok {
        margin-right: 15px;
        color: #0d70b3;
      }
      .popup_import .popup-control-button_ok {
        margin-right: 0;
      }

    .popup-nofriends {
      height: calc(586px - 61px);
    }

/* alerts */
.alert {
  color: #333;
}
.alert_logout {
  font-size: 20px;
  line-height: 26px;
}
.alert_import {
  font-size: 18px;
  line-height: 24px;
}
.alert_delete,
.alert_discon {
  font-size: 26px;
  line-height: 32px;
}
.alert_geo_info {
  font-size: 18px;
  line-height: 24px;
}

/* location */
.attach_map {
  max-width: 380px;
  max-height: 200px;
}
.static_map {
  max-width: 200px;
  max-height: 150px;
}

/* attach message */
.attach-file {
  display: inline-block;
  padding-left: 18px;
  line-height: 25px;
  color: #0d70b3;
  background: image-url('icon-attach.svg') no-repeat 0 0;
  background-size: 10px auto;
  word-break: break-all;
}
.attach-size {
  margin-left: 5px;
  font-size: 14px;
  color: #999;
}
.attach-upload {
  display: inline-block;
  width: 100%;
  font-size: 13px;
  font-weight: normal;
}
  .attach-upload .progressbar-control {
    float: left;
    top: 13px;
    width: 55% !important;
    height: 4px !important;
    margin: 0 10px;
    border: 0;
  }
  .message_attach_row .progressbar-control {
    top: 17px;
  }
    .attach-upload .progressbar-control .item-bar {
      height: 4px;
      margin: 0;
      border: 0;
    }

/* attach popup */
.attach-photo {
  max-width: 80vw;
  max-height: 80vh;
  margin-bottom: 20px;
}
.attach-video {
  width: 640px !important;
  height: 480px !important;
  margin-bottom: 20px;
}
.attach-description {
  font-size: 16px;
}
  .attach-name {
    color: #999;
  }
  .attach-download {
    color: #0d70b3;
  }

.temp-box {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
}
