/* User Details */
.userDetails-preview,
.userProfile-preview {
    overflow: hidden;
    padding: 20px;
}
.userDetails-preview {
    height: 128px;
}
.userProfile-preview {
    padding-right: 0;
}
.userDetails-avatar {
    width: 88px;
    height: 88px;
    float: left;
    margin-right: 15px;
    border-radius: 50%;
    background-image: url('../images/ava-single.svg');
    background-size: cover;
    background-position: 50%;
}
.userDetails-info,
.userProfile-info {
    position: relative;
    overflow: hidden;
    padding-left: 5px;
}
.userDetails-info {
    height: 95px;
}
.userDetails-filename,
.userProfile-filename-wrap {
    padding-top: 7px;
    margin-bottom: 7px;
    font-size: 20px;
    color: #333;
    font-weight: normal;
}
.userDetails-filename {
    line-height: 23px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.userDetails-status {
    font-size: 14px;
    line-height: 20px;
    color: #999;
    display: inline-block;
    word-break: break-all;
}
.userDetails-chatStatus,
.userProfile-chatStatus {
    width: 100%;
    background: #f2f4f5;
    font-size: 16px;
    height: 30px;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}
.userDetails-chatStatus .status_online {
    display: inline-block;
    margin-left: 0;
    margin-right: 7px;
}
.userDetails-controls {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.btn_userDetails {
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 16px;
    height: 40px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #333;
    border-bottom: 1px solid #f2f4f5;
    cursor: pointer;
}
.ic_userDetails {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}
.btn_userDetails img {
    vertical-align: text-bottom;
}
.userDetails-field,
.userProfile-field {
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 15px;
    height: 40px;
}
.userDetails-label {
    margin-right: 12px;
    color: #999;
    font-weight: bold;
}
/* User Profile */
.userProfile-filename-wrap {
    float: left;
    margin-bottom: 10px;
    line-height: 30px;
}
input.userProfile-filename.without_M[type=text],
input.userProfile-filename.without_M[type=text]:focus:not([readonly]) {
    width: 285px;
    padding: 5px 0;
    color: #333;
    border: 0;
}
input.userProfile-filename.without_M[type=text]:focus:not([readonly]) {
    border-color: #66afe9;
}
.userProfile-header-pencil {
    display: none;
    width: 30px;
    height: 30px;
    background: url('../images/icon-pencil.svg') no-repeat center, #f8f8f8;
    border: 1px solid #f2f4f5;
    border-radius: 4px;
    vertical-align: top;
}
.userProfile-filename-wrap:hover .userProfile-header-pencil {
    display: inline-block;
}
.userProfile-header-pencil:hover {
    display: none !important;
}
input.userProfile-phone.without_M[type=text],
input.userProfile-phone.without_M[type=text]:focus:not([readonly]) {
    width: 330px;
    padding: 5px 0;
    border: 0;
}
input.userProfile-phone.without_M[type=text]:focus:not([readonly]) {
    border-color: #66afe9;
}
.btn_userProfile {
    font-size: 14px;
    line-height: 30px;
    color: #333;
    text-align: center;
    padding: 0 10px;
    margin-right: 10px;
    background: #f8f8f8;
    border: 1px solid #f2f4f5;
    border-radius: 4px;
}
.btn_userProfile:last-child {
    margin-right: 0;
}
.btn_userProfile_file {
    position: absolute;
    left: 5px;
    bottom: 0;
    width: 127px;
    height: 32px;
    opacity: 0;
}
.userProfile-chatStatus {
    padding: 0 0 0 20px;
    text-align: left;
}
.userProfile-status-field {
    width: 100%;
    height: 100px;
    padding: 20px 40px 20px 20px;
    font-size: 16px;
    line-height: 20px;
    border: 0;
    border-bottom: 1px solid #f2f4f5;
    resize: none;
    overflow: hidden;
}
.userProfile-status-field:focus {
    background: #fff !important;
    border: 0;
}
.userProfile-field {
    position: relative;
    border-bottom: 1px solid #f2f4f5;
}
.userProfile-field_email {
    width: 460px;
    padding-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.userProfile-edit:hover {
    background: url('../images/icon-pencil.svg') no-repeat 430px center, #f8f8f8;
}
.btn_userProfile_connect {
    position: absolute;
    right: 20px;
}
.changePass-errors,
.userProfile-errors,
.userProfile-success {
    padding: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #c03d3d;
    text-align: center;
}
.changePass-errors {
    padding: 15px 20px;
    line-height: 20px;
}
.userProfile-success {
    position: relative;
    top: -40px;
    color: green;
}
input.form-input-password[type=password] {
    border-bottom: 2px solid #959595;
}
input.form-input-password[type=password]:focus:not([readonly]) {
    border-bottom: 2px solid #28ca4a;
    box-shadow: none;
}
/* Editable */
.editable-profile:focus {
    padding: 5px 3px;
    background: #fff;
}
/* Change Password */
.popup-content_password {
    padding: 0 20px 30px;
    height: 140px;
}
