/* recorder */
.chat_popover.popover_record {
  width: 640px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 102px;
  right: 14px;
  padding: 0 8px;
}
.chat_popover.popover_record.is-active {
  bottom: 39px;
}
.record_progress_container {
  position: absolute;
  left: 2px;
  height: 39px;
  width: 634px;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
}
.record_progress {
  height: 100%;
  width: 0;
  background-color: #dedede;
}
.record_progress.is-active {
  width: 100%;
  transition: 30s linear;
}
.start_record,
.start_record:hover,
.start_record:focus {
  width: 16px;
  height: 16px;
  background-color: #f54a4a;
  border-radius: 100%;
  z-index: 2;
}

.start_record.is-active {
  border-radius: initial;
}
.cancel_record_container {
  width: 20px;
  height: 20px;
  z-index: 2;
}
.cancel_record {
  display: none;
  width: 100%;
  height: 100%;
  background: url('../images/ic_cancel_record.svg') no-repeat center;
  background-size: contain;
}
.cancel_record.is-active,
.cancel_record.is-active:hover,
.cancel_record.is-active:focus {
  display: block;
}
.record_title {
  height: 16px;
  width: 65px;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #6b7988;
  text-align: center;
  line-height: 16px;
  cursor: pointer;
  z-index: 2;
}
.time_record {
  display: none;
  z-index: 2;
}
.popover_record .coner {
  right: 142px;
}