.smiles-tabs {
  height: 38px;
  border-bottom: 1px solid #f2f2f2;
}
  .smiles-tab {
    width: 38px;
    height: 100%;
  }
  .smiles-tab_people {
    background: image-url('smiles-group/people.svg') no-repeat center;
  }
  .smiles-tab_nature {
    background: image-url('smiles-group/nature.svg') no-repeat center;
  }
  .smiles-tab_objects {
    background: image-url('smiles-group/objects.svg') no-repeat center;
  }
  .smiles-tab_places {
    background: image-url('smiles-group/places.svg') no-repeat center;
  }
  .smiles-tab_symbols {
    background: image-url('smiles-group/symbols.svg') no-repeat center;
  }
  .smiles-tab_people.is-actived {
    background: image-url('smiles-group/people_active.svg') no-repeat center, #0c7bbb;
  }
  .smiles-tab_nature.is-actived {
    background: image-url('smiles-group/nature_active.svg') no-repeat center, #0c7bbb;
  }
  .smiles-tab_objects.is-actived {
    background: image-url('smiles-group/objects_active.svg') no-repeat center, #0c7bbb;
  }
  .smiles-tab_places.is-actived {
    background: image-url('smiles-group/places_active.svg') no-repeat center, #0c7bbb;
  }
  .smiles-tab_symbols.is-actived {
    background: image-url('smiles-group/symbols_active.svg') no-repeat center, #0c7bbb;
  }

.smiles-wrap {
  height: calc(100% - 38px);
}
  .smiles-group {
    height: 100%;
  }
    .emoji {
      width: 20px;
    }
    .smiles-group .emoji {
      width: 30px;
      padding: 5px;
    }
    .smiles-group .emoji:hover {
      background: #cecece;
      cursor: pointer;
    }

/* emoji plugin */
.em-wrap {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.popover_smile .em-wrap:hover {
  background: #cecece;
  cursor: pointer;
}
  .em {
    margin: 5px;
  }

.textarea .em-wrap,
.message-body .em-wrap {
  width: auto;
  height: auto;
}
  .textarea .em-wrap .em,
  .message-body .em-wrap .em {
    position: relative;
    top: 5px;
    margin: 0;
  }
