.smiles-tabs {
    height: 38px;
    border-bottom: 1px solid #f2f4f5;
}
.smiles-tab {
    width: 38px;
    height: 100%;
}
.smiles-tab_people {
    background: url('../images/smiles-group/people.svg') no-repeat center;
    border-top-left-radius: 5px;
}
.smiles-tab_nature {
    background: url('../images/smiles-group/nature.svg') no-repeat center;
}
.smiles-tab_objects {
    background: url('../images/smiles-group/objects.svg') no-repeat center;
}
.smiles-tab_places {
    background: url('../images/smiles-group/places.svg') no-repeat center;
}
.smiles-tab_symbols {
    background: url('../images/smiles-group/symbols.svg') no-repeat center;
}
.smiles-tab_people.is-actived {
    background: url('../images/smiles-group/people_active.svg') no-repeat center, #17d04b;
    border-top-left-radius: 5px;
}
.smiles-tab_nature.is-actived {
    background: url('../images/smiles-group/nature_active.svg') no-repeat center, #17d04b;
}
.smiles-tab_objects.is-actived {
    background: url('../images/smiles-group/objects_active.svg') no-repeat center, #17d04b;
}
.smiles-tab_places.is-actived {
    background: url('../images/smiles-group/places_active.svg') no-repeat center, #17d04b;
}
.smiles-tab_symbols.is-actived {
    background: url('../images/smiles-group/symbols_active.svg') no-repeat center, #17d04b;
}
.smiles-wrap {
    height: calc(100% - 38px);
    position: relative;
}
.smiles-group {
    height: 100%;
}
.emoji {
    width: 20px;
}
.smiles-group .emoji {
    width: 30px;
    padding: 5px;
}
.smiles-group .emoji:hover {
    background: #cecece;
    cursor: pointer;
}
.em_wrap {
    display: inline-block;
    width: 30px;
    height: 33px;
}
/* emoji plugin */
.popover_smile .em:hover {
    opacity: .8;
    cursor: pointer;
}
.em {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 5px;
    word-wrap: break-word;
    cursor: text;
}
.message-body .em,
.textarea .em,
.textarea .em:hover,
.last_message_preview .em {
    margin: 0;
    vertical-align: top;
    cursor: text;
}
