.header_presence {
  position: relative;
  height: calc(40vh - 9px);
  width: 100%;
}
  .header_presence-logo {
    height: calc(360 * 100% / 400);
    display: block;
    margin: 0 auto;
  }
  .header_presence-text {
    height: calc(52 * 100% / 400);
    position: relative;
    top: -10px;
    display: block;
    margin: 0 auto;
  }

.header-logo-img {
  float: left;
  margin: 0 20px; 
}
.header-logo-text {
  float: left;
  overflow: hidden;
  font-size: 20px;
  line-height: 48px;
  color: #666;
  text-transform: uppercase;
}
  
.invite {
  padding: 0 25px;
  line-height: 40px;
  text-align: center;
  background: #ff4945;
  border-radius: 25px;
}
  .invite-icon {
    padding-left: 25px;
    font-size: 20px;
    color: #fff;
    background: url(../../images/icon-invite.png) no-repeat left 0;
  }

.user {
  margin-left: 50px;
  margin-right: 20px;
}
  .user-avatar {
    float: left;
    width: 42px;
    border-radius: 50%;
    margin-right: 12px;
  }
  .user-name {
    overflow: hidden;
    font-size: 16px;
    line-height: 42px;
    color: #666;
  }

.download-item {
  display: block;
}
.download-item:first-child {
  margin-bottom: 7px; 
}
  .download-item img {
    width: 145px;
  }

.footer-logo {
  padding-left: 3px;
}

.footer-apps-ios {
  margin-right: 25px;
}

.footer-links-item {
  margin-right: 30px;
  display: inline-block;
}

.footer-links-item:last-child {
  margin-right: 5px;
}
  .footer-links-item a {
    font-size: 14px;
    color: #999;
  }
  
.form {
  width: 48vh;
  max-width: 480px;
  height: 100%;
  margin: 0 auto;
  padding-top: 2.5vh;
  text-align: center;
}
  .form-input {
    width: 100%;
    /*height: calc(45 * 50vh / 495);*/
    height: 5.1vh;
    margin-bottom: 1vh;
    padding: 1.4vh;
    font-size: 1.6vh;
    border: 1px solid #ccc;
    border-radius: 7px;
  }
  .form-button {
    width: 100%;
    margin-bottom: 2vh;
    font-size: 2.8vh;
    line-height: 6.5vh;
    color: #fff;
    border-radius: 7px;
  }
  .form-button_qb {
    background: #00bf28;
  }
  .form-button_fb {
    background: #35518e;
    margin-bottom: 0;
  }
    .form-button-icon {
      width: 3.4vh;
      margin-right: 2vh;
      vertical-align: text-bottom;
    }
  .form-text {
    display: block;
    margin-bottom: 2.5vh;
    font-size: 1.6vh;
  }
  .form-text_error {
    color: #c03d3d;
  }
  .form-text_forgot {
    margin-top: 3vh;
    color: #999;
  }
  .form-label {
    display: block;
    margin: 1.5vh 0 4.5vh;
    font-size: 2vh;
    color: #666;
  }
    .form-checkbox {
      margin-left: 0.5vh;
      vertical-align: bottom;
    }
