<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Q-municate</title>
  <meta name="description" content="Q-municate - the open-source, cross platform video calling and instant messaging app from Quickblox">

  <link rel="icon" href="favicon.png">

  <link rel="stylesheet" href="https://vjs.zencdn.net/4.6/video-js.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  <!-- build:css styles/build.css -->
  <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
  <link rel="stylesheet" href="bower_components/progressbar.js/css/lib/control/progressbar.css">
  <link rel="stylesheet" href="vendor/emoji/css/minEmoji.css">
  <link rel="stylesheet" href="bower_components/balloon-css/balloon.min.css">

  <link rel="stylesheet" href=".css/main.css">
  <!-- endbuild -->

  <!-- build:js vendor/modernizr.js -->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild -->

</head>
<body class="is-welcome">
  <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="l-wrapper">
    <section id="welcomePage" class="l-page l-flexbox l-flexbox_column l-flexbox_flexbetween">
      <header class="l-welcome-header l-flexbox l-flexbox_column l-flexbox_flexbetween">
        <img class="l-welcome-header-logo" src="images/logo-qmunicate-big.svg" alt="Q-municate">
        <img class="l-welcome-header-text" src="images/logo-qmunicate-text.svg" alt="Q-municate">
        <div class="download">
          <a class="download-app" href="https://play.google.com/store/apps/details?id=com.quickblox.q_municate" target="_blank"><img src="images/app-android.svg" alt="download Q-municate Android"></a>
          <a class="download-app" href="https://itunes.apple.com/us/app/q-municate/id909698517?ls=1&mt=8" target="_blank"><img src="images/app-ios.svg" alt="download Q-municate iOS"></a>
        </div>
      </header>
      <div class="l-form l-flexbox l-flexbox_column is-hidden">
        <button id="signupFB" class="btn btn_form btn_welcome btn_fb"><img class="btn-icon btn-icon_fb" src="images/icon-fb.svg" alt="fb">Connect with Facebook</button>
        <button id="signupQB" class="btn btn_form btn_welcome btn_qb">Sign Up with Email</button>
        <a id="loginQB" class="text text_welcome" href="#">Already have an account?</a>
      </div>
      <footer class="l-welcome-footer l-flexbox l-flexbox_column l-flexbox_flexbetween is-hidden">
        <div class="l-welcome-footer-logo">
          <a href="https://quickblox.com" target="_blank"><img src="images/logo-quickblox.svg" alt="QuickBlox"></a>
        </div>
      </footer>
      <div class="l-spinner">
        <div class="spinner">
          <div class="spinner-dot1"></div>
          <div class="spinner-dot2"></div>
        </div>
      </div>
    </section>

    <section id="signUpPage" class="l-page is-hidden">
      <div class="l-container l-flexbox l-flexbox_column l-flexbox_flexbetween">
        <header class="l-welcome-header l-flexbox l-flexbox_column l-flexbox_flexbetween">
          <img class="l-welcome-header-logo" src="images/logo-qmunicate-big.svg" alt="Q-municate">
          <img class="l-welcome-header-text" src="images/logo-qmunicate-text.svg" alt="Q-municate">
          <div class="download">
            <a class="download-app" href="https://play.google.com/store/apps/details?id=com.quickblox.q_municate" target="_blank"><img src="images/app-android.svg" alt="download Q-municate Android"></a>
            <a class="download-app" href="https://itunes.apple.com/us/app/q-municate/id909698517?ls=1&mt=8" target="_blank"><img src="images/app-ios.svg" alt="download Q-municate iOS"></a>
          </div>
        </header>
        <form class="l-form l-flexbox l-flexbox_column" action="#" autocomplete="off">
          <span class="text text_error">Error</span>
          <input id="signup-full_name" class="form-input pattern-name" type="text" placeholder="Name" required>
          <input id="signup-email" class="form-input" type="email" placeholder="Email" required>
          <div class="chroma-hash">
            <input id="signup-password" class="form-input pattern-pass" type="password" placeholder="Password" required>
          </div>
          <div class="form-file">
            <div class="form-file-custom l-flexbox_inline l-flexbox_flexcenter">
              <!-- <img class="contact-avatar_signup avatar avatar_signup" src="" alt="user"> -->
              <div class="contact-avatar_signup avatar avatar_signup"></div>
              <span class="name name_signup"></span>
            </div>
            <input id="signup-avatar" class="form-file-default" type="file" accept="image/jpeg,image/png,image/svg">
          </div>
          <button id="signupForm" class="btn btn_form btn_signup btn_qb">Sign Up</button>
          <span class="text text_back">Already have account? <a id="backFromSignUp" class="click_to_back back_to_welcome_page" href="#">Login!</a></span>
          <span class="text text_signup">
            By clicking Sign Up, you agree to<br>
            Q-MUNICATE <a href="http://q-municate.com/agreement/" target="_blank"><b>User Agreement</b></a>, <a href="https://quickblox.com/privacy/" target="_blank"><b>Privacy Policy</b></a>.
          </span>
        </form>
      </div>
      <footer class="l-footer l-flexbox l-flexbox_flexbetween">
        <div class="footer-logo">
          <a href="https://quickblox.com" target="_blank"><img src="images/logo-quickblox-gray.svg" alt="QuickBlox"></a>
        </div>
        <nav class="footer-links is-notVisible">
          <ul>
            <li class="footer-links-item"><a href="#">Support</a></li>
            <li class="footer-links-item"><a href="#">FAQ</a></li>
            <li class="footer-links-item"><a href="#">Help</a></li>
          </ul>
        </nav>
      </footer>
    </section>

    <section id="loginPage" class="l-page is-hidden">
      <div class="l-container l-flexbox l-flexbox_column l-flexbox_flexbetween">
        <header class="l-welcome-header l-flexbox l-flexbox_column l-flexbox_flexbetween">
          <img class="l-welcome-header-logo" src="images/logo-qmunicate-big.svg" alt="Q-municate">
          <img class="l-welcome-header-text" src="images/logo-qmunicate-text.svg" alt="Q-municate">
          <div class="download">
            <a class="download-app" href="https://play.google.com/store/apps/details?id=com.quickblox.q_municate" target="_blank"><img src="images/app-android.svg" alt="download Q-municate Android"></a>
            <a class="download-app" href="https://itunes.apple.com/us/app/q-municate/id909698517?ls=1&mt=8" target="_blank"><img src="images/app-ios.svg" alt="download Q-municate iOS"></a>
          </div>
        </header>
        <form class="l-form l-flexbox l-flexbox_column" action="#">
          <span class="text text_error">Error</span>
          <input id="login-email" class="form-input" type="email" placeholder="Email" required>
          <div class="chroma-hash">
            <input id="login-password" class="form-input pattern-pass" type="password" placeholder="Password" required>
          </div>
          <label class="form-label" for="login-remember">
            Remember me
            <input id="login-remember" class="form-checkbox" type="checkbox">
          </label>
          <button id="loginForm" class="btn btn_form btn_login btn_qb">Log In</button>
          <button id="loginFB" class="btn btn_form btn_login btn_fb"><img class="btn-icon btn-icon_fb" src="images/icon-fb.svg" alt="fb">Connect with Facebook</button>
          <a id="forgot" class="text text_login" href="#">Forgot password?</a>
          <span class="text text_back">Looking to create an account? <a id="backFromLogin" class="click_to_back back_to_welcome_page" href="#">Sign Up!</a></span>
        </form>
        <div class="l-spinner is-hidden">
          <div class="spinner">
            <div class="spinner-dot1"></div>
            <div class="spinner-dot2"></div>
          </div>
        </div>
      </div>
      <footer class="l-footer l-flexbox l-flexbox_flexbetween">
        <div class="footer-logo">
          <a href="https://quickblox.com" target="_blank"><img src="images/logo-quickblox-gray.svg" alt="QuickBlox"></a>
        </div>
        <nav class="footer-links is-notVisible">
          <ul>
            <li class="footer-links-item"><a href="#">Support</a></li>
            <li class="footer-links-item"><a href="#">FAQ</a></li>
            <li class="footer-links-item"><a href="#">Help</a></li>
          </ul>
        </nav>
      </footer>
    </section>

    <section id="forgotPage" class="l-page is-hidden">
      <div class="l-container l-flexbox l-flexbox_column">
        <header class="l-welcome-header l-flexbox l-flexbox_column l-flexbox_flexbetween">
          <img class="l-welcome-header-logo" src="images/logo-qmunicate-big.svg" alt="Q-municate">
          <img class="l-welcome-header-text" src="images/logo-qmunicate-text.svg" alt="Q-municate">
          <div class="download">
            <a class="download-app" href="https://play.google.com/store/apps/details?id=com.quickblox.q_municate" target="_blank"><img src="images/app-android.svg" alt="download Q-municate Android"></a>
            <a class="download-app" href="https://itunes.apple.com/us/app/q-municate/id909698517?ls=1&mt=8" target="_blank"><img src="images/app-ios.svg" alt="download Q-municate iOS"></a>
          </div>
        </header>
        <form class="l-form l-flexbox l-flexbox_column" action="#" autocomplete="off">
          <span class="text text_forgot text_forgot_black">
            Did you forget your password?<br>
            No worries, it happens to the best of us!
          </span>
          <span class="text text_forgot">
            Please enter your email address below<br>
            and we will send you a link to reset your password.
          </span>
          <span class="text text_error">Error</span>
          <input id="forgot-email" class="form-input" type="email" placeholder="Email" required>
          <button id="forgotForm" class="btn btn_form btn_reset btn_qb">Send Verification Email</button>
          <span class="text text_back">Back to login form? <a id="backFromForgot" class="click_to_back back_to_login_page" href="#">Back!</a></span>
        </form>
      </div>
      <footer class="l-footer l-flexbox l-flexbox_flexbetween">
        <div class="footer-logo">
          <a href="https://quickblox.com" target="_blank"><img src="images/logo-quickblox-gray.svg" alt="QuickBlox"></a>
        </div>
        <nav class="footer-links is-notVisible">
          <ul>
            <li class="footer-links-item"><a href="#">Support</a></li>
            <li class="footer-links-item"><a href="#">FAQ</a></li>
            <li class="footer-links-item"><a href="#">Help</a></li>
          </ul>
        </nav>
      </footer>
    </section>

    <section id="resetPage" class="l-page is-hidden">
      <div class="l-container l-flexbox l-flexbox_column">
        <header class="l-welcome-header l-flexbox l-flexbox_column l-flexbox_flexbetween">
          <img class="l-welcome-header-logo" src="images/logo-qmunicate-big.svg" alt="Q-municate">
          <img class="l-welcome-header-text" src="images/logo-qmunicate-text.svg" alt="Q-municate">
          <div class="download">
            <a class="download-app" href="#"><img src="images/app-android.svg" alt="download Q-municate Android"></a>
            <a class="download-app" href="#"><img src="images/app-ios.svg" alt="download Q-municate iOS"></a>
          </div>
        </header>
        <form class="l-form l-flexbox l-flexbox_column" action="#" autocomplete="off">
          <h3 class="form-header">Reset your password</h3>
          <span class="text text_error">Error</span>
          <div class="chroma-hash">
            <input id="reset-password" class="form-input pattern-pass" type="password" placeholder="New password" required>
          </div>
          <button id="resetForm" class="btn btn_form btn_reset btn_qb">Reset password</button>
        </form>
      </div>
      <footer class="l-footer l-flexbox l-flexbox_flexbetween">
        <div class="footer-logo">
          <a href="https://quickblox.com" target="_blank"><img src="images/logo-quickblox-gray.svg" alt="QuickBlox"></a>
        </div>
        <nav class="footer-links">
          <ul>
            <li class="footer-links-item"><a href="#">Support</a></li>
            <li class="footer-links-item"><a href="#">FAQ</a></li>
            <li class="footer-links-item"><a href="#">Help</a></li>
          </ul>
        </nav>
      </footer>
    </section>

    <section id="mainPage" class="l-page is-hidden">
      <div class="l-container">
        <header class="l-header l-flexbox l-flexbox_flexbetween">
          <div class="header-logo">
            <a id="home" href="#"><img src="images/logo-qmunicate.svg" alt="Q-municate"></a>
          </div>
          <ul class="header-links l-flexbox">
            <li class="header-links-item is-hidden">
              <a id="share" href="#">
                <img class="btn-icon btn-icon_fb_header icon-normal" src="images/icon-fb_header.svg" alt="fb">
                <img class="btn-icon btn-icon_fb_header icon-active" src="images/icon-fb_header_active.svg" alt="fb">
                Share
              </a>
            </li>
            <li class="header-links-item">
              <a id="contacts" class="createGroupChat" href="#">Contacts</a>
            </li>
            <li class="header-links-item">
              <!-- <a id="profile" href="#"><img class="avatar" src="" alt="user"></a> -->
              <a id="profile" href="#"><div class="avatar"></div></a>
            </li>
          </ul>
        </header>
        <div class="l-content l-flexbox">

          <aside class="l-sidebar">
            <form id="searchContacts" class="l-search localSearch formSearch">
              <input class="form-input-search" type="search" placeholder="Search">
              <button class="clean-button" type="reset">✕</button>
            </form>

            <div class="l-list-wrap scrollbar">

              <section id="requestsList" class="l-list is-hidden">
                <header class="l-list-header">
                  <h3 class="l-list-header-title">Requests</h3>
                </header>
                <ul class="list"></ul>
              </section>

              <section id="recentList" class="l-list is-hidden">
                <header class="l-list-header">
                  <h3 class="l-list-header-title">Recent</h3>
                </header>
                <ul class="list list_contextmenu"></ul>
              </section>

              <section id="historyList" class="l-list is-hidden">
                <header class="l-list-header">
                  <h3 class="l-list-header-title">History</h3>
                </header>
                <ul class="list list_contextmenu"></ul>
              </section>

              <section id="searchList" class="l-list is-hidden">
                <header class="l-list-header">
                  <h3 class="l-list-header-title">Search results</h3>
                </header>
                <ul class="list list_contextmenu"></ul>
                <div class="note l-flexbox l-flexbox_column">
                  <span class="text text_alert">Sorry...</span>
                  <span class="text">No results found</span>
                </div>
                <button class="search btn btn_search">Global Search</button>
              </section>

              <section id="emptyList" class="l-list note l-flexbox l-flexbox_column is-hidden">
                <span class="text text_alert">Oops...</span>
                <span class="text">You don't have any contacts.</span>
              </section>
            </div>
          </aside>

          <div class="l-workspace-wrap">
            <section id="capBox" class="l-workspace l-flexbox">
              <div class="l-cap l-flexbox l-flexbox_column">
                <span class="cap-text">Is anybody here?</span>
                <img class="cap-anybody" src="images/anybody.png" alt="QuickBlox anybody">
                <button class="search btn btn_add btn_invite"><img class="btn-icon btn-icon_invite" src="images/icon-invite.svg" alt="invite">Search for Friends</button>
                <!-- <button class="btn btn_add btn_share"><img class="btn-icon btn-icon_share" src="images/icon-fb.svg" alt="fb">Share on Facebook</button> -->
              </div>
            </section>

            <div class="popover j-popover_const popover_gmap j-popover_gmap">
              <button class="send_map j-send_map">SEND LOCATION</button>
              <div class="coner"><i class="icon_coner"></i></div>
            </div>

            <div class="popover j-popover_const popover_smile j-popover_smile">
              <div class="smiles-tabs">
                <button class="smiles-tab smiles-tab_people is-actived" data-group="people"></button>
                <button class="smiles-tab smiles-tab_nature" data-group="nature"></button>
                <button class="smiles-tab smiles-tab_objects" data-group="objects"></button>
                <button class="smiles-tab smiles-tab_places" data-group="places"></button>
                <button class="smiles-tab smiles-tab_symbols" data-group="symbols"></button>
              </div>
              <div class="smiles-wrap">
                <div class="smiles-group smiles-group_people">
                  😄😃😀😊☺😉😍😘😚😗😙😜😝😛😳😁😔😌😒😞😣
                  😢😂😭😪😥😰😅😓😩😫😨😱😠😡😤😖😆😋😷😎😴
                  😵😲😟😦😧😈👿😮😬😐😕😯😶😇😏😑👲👳👮👷💂
                  👶👦👧👨👩👴👵👱👼👸😺😸😻😽😼🙀😿😹😾👹👺
                  🙈🙉🙊💀👽💩🔥✨🌟💫💥💢💦💧💤💨👂👀👃👅👄
                  👍👎👌👊✊✌👋✋👐👆👇👉👈🙌🙏☝👏💪🚶🏃💃
                  👫👪👬👭💏💑👯🙆🙅💁🙋💆💇💅👰🙎🙍🙇🎩👑👒
                  👟👞👡👠👢👕👔👚👗🎽👖👘👙💼👜👝👛👓🎀🌂💄
                  💛💙💜💚❤💔💗💓💕💖💞💘💌💋💍💎👤👥💬👣💭
                </div>
                <div class="smiles-group smiles-group_nature is-hidden">
                  🐶🐺🐱🐭🐹🐰🐸🐯🐨🐻🐷🐽🐮🐗🐵🐒🐴🐑🐘🐼🐧
                  🐦🐤🐥🐣🐔🐍🐢🐛🐝🐜🐞🐌🐙🐚🐠🐟🐬🐳🐋🐄🐏
                  🐀🐃🐅🐇🐉🐎🐐🐓🐕🐖🐁🐂🐲🐡🐊🐫🐪🐆🐈🐩🐾
                  💐🌸🌷🍀🌹🌻🌺🍁🍃🍂🌿🌾🍄🌵🌴🌲🌳🌰🌱🌼🌐
                  🌞🌝🌚🌑🌒🌓🌔🌕🌖🌗🌘🌜🌛🌙🌍🌎🌏🌋🌌🌠⭐
                  ☀⛅☁⚡☔❄⛄🌀🌁🌈🌊
                </div>
                <div class="smiles-group smiles-group_objects is-hidden">
                  🎍💝🎎🎒🎓🎏🎆🎇🎐🎑🎃👻🎅🎄🎁🎋🎉🎊🎈🎌🔮
                  🎥📷📹📼💿📀💽💾💻📱☎📞📟📠📡📺📻🔊🔉🔈🔇
                  🔔🔕📢📣⏳⌛⏰⌚🔓🔒🔏🔐🔑🔎💡🔦🔆🔅🔌🔋🔍
                  🛁🛀🚿🚽🔧🔩🔨🚪🚬💣🔫🔪💊💉💰💴💵💷💶💳💸
                  📲📧📥📤✉📩📨📯📫📪📬📭📮📦📝📄📃📑📊📈📉
                  📜📋📅📆📇📁📂✂📌📎✒✏📏📐📕📗📘📙📓📔📒
                  📚📖🔖📛🔬🔭📰🎨🎬🎤🎧🎼🎵🎶🎹🎻🎺🎷🎸👾🎮
                  🃏🎴🀄🎲🎯🏈🏀⚽⚾🎾🎱🏉🎳⛳🚵🚴🏁🏇🏆🎿🏂
                  🏊🏄🎣☕🍵🍶🍼🍺🍻🍸🍹🍷🍴🍕🍔🍟🍗🍖🍝🍛🍤
                  🍱🍣🍥🍙🍘🍚🍜🍲🍢🍡🍳🍞🍩🍮🍦🍨🍧🎂🍰🍪🍫
                  🍬🍭🍯🍎🍏🍊🍋🍒🍇🍉🍓🍑🍈🍌🍐🍍🍠🍆🍅🌽
                </div>
                <div class="smiles-group smiles-group_places is-hidden">
                  🏠🏡🏫🏢🏣🏥🏦🏪🏩🏨💒⛪🏬🏤🌇🌆🏯🏰⛺🏭🗼
                  🗾🗻🌄🌅🌃🗽🌉🎠🎡⛲🎢🚢⛵🚤🚣⚓🚀✈💺🚁🚂
                  🚊🚉🚞🚆🚄🚅🚈🚇🚝🚋🚃🚎🚌🚍🚙🚘🚗🚕🚖🚛🚚
                  🚨🚓🚔🚒🚑🚐🚲🚡🚟🚠🚜💈🚏🎫🚦🚥⚠🚧🔰⛽🏮
                  🎰♨🗿🎪🎭📍🚩🇯🇵🇰🇷🇩🇪🇨🇳🇺🇸🇫🇷🇪🇸🇮🇹🇷🇺🇬🇧
                </div>
                <div class="smiles-group smiles-group_symbols is-hidden">
                  1⃣2⃣3⃣4⃣5⃣6⃣7⃣8⃣9⃣0⃣🔟🔢#⃣🔣⬆⬇⬅➡🔠🔡🔤
                  ↗↖↘↙↔↕🔄◀▶🔼🔽↩↪ℹ⏪⏩⏫⏬⤵⤴🆗
                  🔀🔁🔂🆕🆙🆒🆓🆖📶🎦🈁🈯🈳🈵🈴🈲🉐🈹🈺🈶🈚
                  🚻🚹🚺🚼🚾🚰🚮🅿♿🚭🈷🈸🈂Ⓜ🛂🛄🛅🛃🉑㊙㊗
                  🆑🆘🆔🚫🔞📵🚯🚱🚳🚷🚸⛔✳❇❎✅✴💟🆚📳📴
                  🅰🅱🆎🅾💠➿♻♈♉♊♋♌♍♎♏♐♑♒♓⛎🔯
                  🏧💹💲💱©®™❌‼⁉❗❓❕❔⭕🔝🔚🔙🔛🔜🔃
                  🕛🕧🕐🕜🕑🕝🕒🕞🕓🕟🕔🕠🕕🕖🕗🕘🕙🕚🕡🕢🕣
                  🕤🕥🕦✖➕➖➗♠♥♣♦💮💯✔☑🔘🔗➰〰〽🔱
                  ◼️◻️◾️◽️▪️▫️🔺🔲🔳⚫️⚪️🔴🔵🔻⬜️⬛️🔶🔷🔸🔹
                </div>
              </div>
              <div class="coner"><i class="icon_coner"></i></div>
            </div>
          </div>

        </div>
      </div>
      <footer class="l-footer l-flexbox l-flexbox_flexbetween">
        <div class="footer-logo">
          <a href="https://quickblox.com" target="_blank"><img src="images/logo-quickblox-gray.svg" alt="QuickBlox"></a>
        </div>
        <div class="footer-apps l-flexbox">
          <a class="footer-apps-ios" href="https://itunes.apple.com/us/app/q-municate/id909698517?ls=1&mt=8" target="_blank"><img src="images/icon-ios.svg" alt="download Q-municate iOS"></a>
          <a href="https://play.google.com/store/apps/details?id=com.quickblox.q_municate" target="_blank"><img src="images/icon-android.svg" alt="download Q-municate Android"></a>
        </div>

        <div class="l-app-version">v.1.4.3</div>

      </footer>
    </section>

  </div>

  <div class="popups l-flexbox j-overlay">

    <section id="popupDisconnect" class="popup popup_discon is-open j-disconnect">
      <div class="popup-alert l-flexbox_inline l-flexbox_flexcenter">
        <span class="alert alert_discon"><b>Not Connected.</b> Connecting...</span>
      </div>
    </section>

    <!-- <section id="chatConnecting" class="popup popup_connect is-open j-chatConnecting">
      <div class="popup-alert l-flexbox_inline l-flexbox_flexcenter">
        <div class="spinner">
          <div class="spinner-dot1"></div>
          <div class="spinner-dot2"></div>
        </div>
      </div>
    </section> -->

    <section id="popupGeoInfo" class="popup popup_geo_info j-geoInfo">
      <span class="alert alert_geo_info">
        <b>Your location can't be detected.</b>
        <br/>Please enable your location in browser settings and refresh current page after that.
      </span>
    </section>

    <section id="popupDetails" class="popup popup_details presence-listener">
      <div class="userDetails-preview">
        <div class="userDetails-avatar profileUserAvatar"></div>
        <div class="userDetails-info">
          <h3 class="userDetails-filename profileUserName"></h3>
          <span class="userDetails-status profileUserStatus"></span>
        </div>
      </div>
      <div class="userDetails-chatStatus"></div>
      <div class="userDetails-controls l-flexbox"></div>
      <div class="userDetails-field profileUserPhone"></div>
    </section>

    <section id="popupIncoming" class="popup incoming-call-popup is-open"></section>

    <section id="popupAttach" class="popup popup_attach">
      <img class="attach-photo" src="" alt="attach">
      <video class="video-js vjs-default-skin vjs-big-play-centered attach-video" controls autoplay preload="auto" data-setup="{}"></video>
      <div class="attach-description l-flexbox l-flexbox_flexbetween">
        <span class="attach-name"></span>
        <a class="attach-download" href="" download="">Download</a>
      </div>
    </section>

    <section id="popupLogout" class="popup popup_logout is-open">
      <div class="popup-alert l-flexbox_inline l-flexbox_flexcenter">
        <span class="alert alert_logout">Are you sure<br>you want to log out?</span>
      </div>
      <div class="popup-controls">
        <a class="popup-control-button popup-control-button_cancel" href="#">Cancel</a>
        <a id="logoutConfirm" class="popup-control-button popup-control-button_ok" href="#">Ok</a>
      </div>
    </section>

    <section id="popupImport" class="popup popup_import is-open">
      <div class="popup-alert l-flexbox_inline l-flexbox_flexcenter">
        <span class="alert alert_import">Your Facebook friends who have<br>a Q-municate account were successfully<br>added to your contacts</span>
      </div>
      <div class="popup-controls">
        <a class="popup-control-button popup-control-button_ok" href="#">Got it</a>
      </div>
    </section>

    <section id="popupDelete" class="popup popup_delete is-open">
      <div class="popup-alert l-flexbox_inline l-flexbox_flexcenter">
        <span class="alert alert_delete">Delete contact?</span>
      </div>
      <div class="popup-controls">
        <a class="popup-control-button popup-control-button_cancel" href="#">Cancel</a>
        <a id="deleteConfirm" class="popup-control-button popup-control-button_ok" href="#">Ok</a>
      </div>
    </section>

    <section id="popupLeave" class="popup popup_leave is-open">
      <div class="popup-alert l-flexbox_inline l-flexbox_flexcenter">
        <span class="alert alert_logout">Are you sure<br>you want to leave the group chat?</span>
      </div>
      <div class="popup-controls">
        <a class="popup-control-button popup-control-button_cancel" href="#">Cancel</a>
        <a id="leaveConfirm" class="popup-control-button popup-control-button_ok" href="#">Ok</a>
      </div>
    </section>

    <section id="popupSearch" class="popup popup_search">
      <header class="popup-header">
        <h3>Global Search</h3>
      </header>
      <form id="globalSearch" class="popup-form formSearch" action="#">
        <input class="form-input-search" type="search" placeholder="Search" autofocus>
        <button class="clean-button" type="reset">✕</button>
      </form>
      <ul class="popup-elem list list_contacts"></ul>
      <div class="popup-elem note l-flexbox l-flexbox_column">
        <span class="text text_alert">Sorry...</span>
        <span class="text not_found">No results found</span>
        <span class="text short_length is-hidden">Name must be more than 2 characters</span>
      </div>
    </section>

    <section id="popupContacts" class="popup popup_contacts not-selected">
      <header class="popup-header">
        <h3>Contacts</h3>
      </header>
      <form id="searchFriends" class="popup-form localSearch formSearch" action="#">
        <input class="form-input-search" type="search" placeholder="Search">
        <button class="clean-button" type="reset">✕</button>
      </form>
      <div class="popup-content">
        <ul class="list list_contacts scrollbarContacts"></ul>
        <div class="note l-flexbox l-flexbox_column">
          <span class="text text_alert">Sorry...</span>
          <span class="text">No results found</span>
        </div>
      </div>
      <div class="popup-nofriends l-flexbox is-hidden">
        <div class="l-cap l-cap_contacts l-flexbox l-flexbox_column">
          <span class="cap-text cap-text_contacts">It's a little lonely<br>over here</span>
          <button class="search btn btn_invite btn_invite_contacts">
            <img class="btn-icon btn-icon_invite btn-icon_invite_contacts" src="images/icon-invite.svg" alt="invite">
            Search for Friends
          </button>
        </div>
      </div>
      <footer class="popup-footer">
        <button class="btn btn_popup btn_popup_private">Create a chat</button>
        <button class="btn btn_popup btn_popup_group">Create group chat</button>
        <button class="btn btn_popup btn_popup_add">Add to chat</button>
      </footer>
    </section>
  </div>

  <audio id="newMessageSignal">
    <source src="audio/new_message.ogg"></source>
    <source src="audio/new_message.mp3"></source>
  </audio>

  <audio id="callingSignal" loop>
    <source src="audio/calling.ogg"></source>
    <source src="audio/calling.mp3"></source>
  </audio>

  <audio id="ringtoneSignal" loop>
    <source src="audio/ringtone.ogg"></source>
    <source src="audio/ringtone.mp3"></source>
  </audio>

  <audio id="endCallSignal">
    <source src="audio/end_of_call.ogg"></source>
    <source src="audio/end_of_call.mp3"></source>
  </audio>

  <div id="fb-root"></div>

  <!-- build:js scripts/build.js -->
  <script src="bower_components/requirejs/require.js"></script>
  <script src="scripts/main.js"></script>
  <!-- endbuild -->

  <script id="templateProfile" type="text/template">
    <section id="popupProfile" class="popup popup_profile">
      <div class="userProfile-preview">
        <div class="userDetails-avatar profileUserAvatar" style="background-image: url(<%= avatar_url %>)" data-id="<%= id %>"></div>
        <div class="userProfile-info">
          <div class="userProfile-filename-wrap">
            <input class="userProfile-filename editable-profile" type="text" value="<%= full_name %>" maxlength="50">
            <span class="userProfile-header-pencil"></span>
          </div>
          <div style="clear:both"></div>
          <button class="btn_userProfile btn_userProfile_photo">Set Profile Photo</button>
          <% if (user_tags) { %>
            <button class="btn_userProfile btn_changePassword">Change password</button>
          <% } %>
          <input class="btn_userProfile_file" type="file" accept="image/jpeg,image/png,image/svg">
        </div>
      </div>
      <div class="userProfile-chatStatus">Status</div>
      <textarea class="userProfile-status-field userProfile-edit" maxlength="80"><%= status %></textarea>
      <div class="userProfile-field userProfile-field_email">
        <span class="userDetails-label">Email:</span>
        <span class="userProfile-email"><%= email %></span>
      </div>
      <div class="userProfile-field userProfile-field_phone userProfile-edit">
        <span class="userDetails-label">Phone:</span>
        <input class="userProfile-phone editable-profile" type="text" value="<%= phone %>" maxlength="20">
      </div>
      <div class="userProfile-field userProfile-field-facebook">
        <% if (facebook_id) { %>
          <span class="userDetails-label">Facebook:</span><span class="userProfile-facebook">Connected</span>
        <% } else { %>
          <span class="userDetails-label">Facebook:</span><span class="userProfile-facebook">Not connected</span><button class="btn_userProfile btn_userProfile_connect">Connect</button>
        <% } %>
      </div>
      <div class="userProfile-errors"></div>
      <div class="userProfile-success"></div>
    </section>
  </script>

  <script id="templateChangePass" type="text/template">
    <section id="popupPassword" class="popup popup_password">
      <header class="popup-header">
        <h3>Change password</h3>
      </header>
      <div class="changePass-errors"></div>
      <div class="popup-content popup-content_password">
        <div class="chroma-hash chroma-hash_password">
          <input id="old-password" class="form-input form-input-password" type="password" placeholder="Old password" maxlength="40">
        </div>
        <div class="chroma-hash chroma-hash_password">
          <input id="new-password" class="form-input form-input-password" type="password" placeholder="New password" maxlength="40">
        </div>
      </div>
      <footer class="popup-footer popup-footer_changepass">
        <button class="btn btn_popup btn_popup_changepass">Change</button>
      </footer>
    </section>
  </script>

  <script id="templateFBImport" type="text/template">
    <section id="popupImportAfterConnected" class="popup popup_import is-open">
      <div class="popup-alert l-flexbox_inline l-flexbox_flexcenter">
        <span class="alert alert_import">Your Facebook friends who have<br>a Q-municate account were successfully<br>added to your contacts</span>
      </div>
      <div class="popup-controls">
        <a class="popup-control-button popup-control-button_ok returnBackToPopup" href="#">Got it</a>
      </div>
    </section>
  </script>
</body>
</html>
