@import "../../styles/theme_colors_scheme";

.header {
  flex-shrink: 0;
  width: 100%;
  height: 68px;
  padding: 0 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    height: 28px;
    fill: $primary-500;
  }

  .user-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 6px;

    .avatar {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 50%;
    }

    .avatar-icon {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      fill: #636d78;

      circle {
        fill: #bcc1c5;
      }
    }

    .header-select {
      max-height: 20px;
      padding: 0px;
    }
  }
}
